@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
}
body {
  /* min-height: 100vh; */
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding-left: 20vmin; */
  /* background-color: antiquewhite; */
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: blueviolet; */
  /* margin-right: 10vmin; */
  margin-top: 10px;
  margin-bottom: 4%;
  font-size: 2.6vmin;
}
#logo {
  width: 17vmin;
}
.nav-span {
  display: flex;
  flex-direction: row;
  width: 85vmin;
  justify-content: space-between;
  align-items: center;
  color: rgb(99, 99, 99);
  /* background-color: aqua; */
}
.icondiv {
  cursor: pointer;
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-size: 2vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.icondiv:hover {
  color: rgb(29, 29, 29);
}
#joinnow {
  cursor: pointer;
  width: 14vmin;
  height: 7vmin;
  border-radius: 5em / 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#joinnow:hover {
  background-color: rgba(196, 196, 196, 0.586);
}
#signup {
  width: 14vmin;
  height: 7vmin;
  border-radius: 5em / 5em;
  border: 2px solid rgb(0, 119, 181);
  font-weight: 700;
  color: rgb(0, 119, 181);
  background-color: aliceblue;
  font-size: 2vmin;
}
.container {
  /* height: 80vmin; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua;*/
  /* width: 100%; */
  /* padding-left: 10vmin; */
}

#heading {
  font-size: 6vmin;
  color: rgb(0, 119, 181);
  margin-bottom: 4vmin;
}
#email,
#pw {
  margin-bottom: 2vmin;
  border: 2px solid rgb(134, 136, 138);
  border-radius: 1vmin;
  width: 57vmin;
  height: 8vmin;
  font-size: 3vmin;
}
.showpw {
  position: relative;
}
#show {
  cursor: pointer;
  height: 8vmin;
  width: 9vmin;
  border: 0px;
  /* background-color: aqua; */
  color: rgb(91, 94, 94);
  font-size: 2.5vmin;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48vmin;
  bottom: 0;
}
#show:hover {
  background-color: rgb(202, 204, 206);
  border-radius: 1vmin;
}
#forgotpw {
  font-size: 2vmin;
  font-weight: 600;
  color: rgb(91, 94, 94);
}
#signin,
#signinwithgoogle {
  width: 57vmin;
  height: 8vmin;
  border-radius: 5em / 5em;
  border: 2px solid rgb(134, 136, 138);
  font-size: 2.5vmin;
}
#signin {
  background-color: rgb(0, 119, 181);
  border: 2px solid rgb(0, 119, 181);
  color: aliceblue;
  font-weight: 600;
  margin-top: 2vmin;
}
#signinwithgoogle {
  position: relative;
  background-color: white;
  color: rgb(99, 101, 103);
  font-weight: 600;
}
hr {
  width: 42%;
}
#or {
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 2.5vmin;
}
.span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.google {
  position: absolute;
  width: 6vmin;
  left: 5vmin;
  bottom: 0.7vmin;
}
.col1 {
  width: 100%;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: rgb(199, 207, 207); */
}
.col2 {
  width: 100%;
  height: 80vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
#workimg {
  height: 100%;
  /* width: 200vmin; */
}
.r1 {
  margin-bottom: 10vmin;
}

.r2 {
  background-color: rgba(244, 243, 236, 0.852);
  padding: 12vmin;
  width: 100vw;
}
#explore {
  font-size: 7vmin;
  font-weight: 100;
}
.r2btn {
  height: 8vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  border-radius: 5em / 5em;
  margin: 0.5vmin;
  font-size: 3vmin;
  border: 1.6px solid black;
  background-color: rgba(244, 243, 236, 0.852);
}
.content {
  font-weight: 500;
  font-size: 2.3vmin;
  color: rgb(117, 117, 117);
  margin-bottom: 3vmin;
}

.r3 {
  background-color: white;
  padding: 12vmin;
  width: 100vw;
}
#find {
  font-size: 7vmin;
  font-weight: 100;
}
.r3btn {
  height: 8vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  border-radius: 5em / 5em;
  margin: 0.5vmin;
  font-size: 3vmin;
  border: 1.6px solid black;
  background-color: white;
}

.r4 {
  background-color: rgba(247, 237, 221, 0.852);
  padding: 12vmin;
  width: 100vw;
}
#post {
  font-size: 6vmin;
  font-weight: 400;
  color: rgb(152, 2, 2);
}
.r4btn {
  height: 8vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  border-radius: 5em / 5em;
  margin: 0.5vmin;
  font-size: 3vmin;
  border: 1.6px solid rgb(0, 119, 181);
  color: rgb(0, 119, 181);
  background-color: rgba(247, 237, 221, 0.852);
}

.r5 {
  background-color: rgba(244, 243, 236, 0.852);
  padding: 12vmin;
  width: 100vw;
}
#let {
  font-size: 6vmin;
  font-weight: 400;
  color: rgb(139, 30, 30);
  margin-bottom: 2vmin;
}
#with {
  font-size: 4vmin;
  font-weight: 150;
}
.r5,
.r5c2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.r5c2 img {
  width: 65vmin;
}
.r5 {
  position: relative;
}
.scroller {
  position: absolute;
  font-size: 3vmin;
  background-color: yellowgreen;
  width: 32vmin;
  top: 0;
}
.scroll {
  margin: 2vmin;
}
@media (max-width: 1000px) {
  .r1 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .r2,
  .r3,
  .r4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #heading {
    text-align: center;
  }
  .col1 {
    /* background-color: antiquewhite  ; */
    margin-bottom: 10vmin;
    align-items: center;
  }
  .col2 {
    margin-bottom: 10vmin;
  }
  .icondiv {
    display: none;
  }
  .nav-span {
    width: 30vmin;
  }
  .hr {
    display: none;
  }
}
